<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <th:block th:replace="common/header"/>
    <th:block layout:fragment="head"></th:block>
</head>
<body th:if="${session.id}">
<div class="tb-container" >
    <th:block th:replace="common/nav"/>
    <div class="tb-content">
        <div class="content-body">
            <th:block layout:fragment="body"></th:block>
        </div>
    </div>
    <th:block th:replace="common/footer"/>
</div>
</body>
<body th:unless="${session.id}">
    <h1><a href="/groovy">로그인</a>을 해주세요</h1>
    <h6>groovy</h6>
</body>
</html>