<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.card.mapper.ProfileMapper">
    <select id="findUser" resultType="com.green.card.vo.UserVo" parameterType="com.green.card.vo.UserVo">
        SELECT  user_id,
                user_pw,
                user_name,
                user_nickname,
                user_email,
                user_phone
        FROM tb_user
        WHERE user_id = #{userId}
    </select>

    <update id="updateEmail">
        UPDATE tb_user
        SET user_email = #{userEmail}
        ,   mod_dt = now()
        WHERE user_id = #{userId}
    </update>

    <update id="updateNickname">
        UPDATE tb_user
        SET user_nickname = #{userNickname}
        ,   mod_dt = now()
        WHERE user_id = #{userId}
    </update>

    <update id="updatePhone">
        UPDATE tb_user
        SET user_phone = #{userPhone}
        ,   mod_dt = now()
        WHERE user_id = #{userId}
    </update>
</mapper>