<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.card.mapper.ReportMapper">
    <select id="monthGroup" parameterType="com.green.card.vo.ReportVo" resultType="com.green.card.vo.ReportVo">
        SELECT count(*) `count`, date_format(str_to_date(date,'%Y-%m-%d'),'%Y-%c') `month`
        FROM  tb_schedule
        WHERE DATE_FORMAT(str_to_date(date,'%Y-%m-%d'),'%Y-%m-%d') between date_sub(DATE_FORMAT(NOW(), '%Y-%m-01'), interval 1 year) and LAST_DAY(NOW())
        AND   user_id = #{userId}
        group by `month`
    </select> <!-- 최근 1년 월별 데이터 -->

    <select id="dateGroup" parameterType="com.green.card.vo.ReportVo" resultType="com.green.card.vo.ReportVo">
        SELECT count(*) `count`, date_format(str_to_date(date,'%Y-%m-%d'),'%c-%e') `date`
        FROM  tb_schedule
        WHERE DATE_FORMAT(str_to_date(date,'%Y-%m-%d'),'%Y-%m-%d') between date_sub(now(), interval 12 day) and now()
        AND   user_id = #{userId}
        group by `date`
    </select>

</mapper>








