<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.card.mapper.ScheduleMapper">
        <sql id="scheduleListSql">
                SELECT          idx
                     ,          content
                     ,          date_format(reg_dt, '%Y-%m-%d') regDt
                FROM            tb_schedule
                WHERE           date = #{date}
                AND             user_id = #{userId}
        </sql>

        <select id="selectList" resultType="com.green.card.vo.ScheduleVo" parameterType="com.green.card.vo.ReqPageVo">
            <include refid="scheduleListSql" />
            <include refid="commonSql.pagingSuffix" />
        </select>

        <select id="selectScheduleCount" parameterType="com.green.card.vo.ReqPageVo" resultType="java.lang.Integer">
            SELECT count(*)
            FROM (<include refid="scheduleListSql"/>) as A
        </select>

        <insert id="scheduleAdd" parameterType="com.green.card.vo.ScheduleVo">
            insert into tb_schedule(content, user_id, date)
            values(#{content}, #{userId}, #{date})
        </insert>

        <update id="updateContent">
            UPDATE  tb_schedule
            SET     content = #{content}, mod_dt = now()
            where   idx = #{idx}
        </update>

        <delete id="deleteSchedule">
            DELETE FROM tb_schedule
            WHERE   idx = #{idx}
        </delete>

        <select id="nextDaySchedule" parameterType="com.green.card.vo.ScheduleVo" resultType="com.green.card.vo.ScheduleVo">
            select idx, content from tb_schedule
            where date = (select date_format(DATE_ADD(date_format(now(),'%Y-%c-%e'), INTERVAL 1 day),'%Y-%c-%e'))
        </select>

        <select id="groupDateCnt" parameterType="com.green.card.vo.ScheduleVo" resultType="java.lang.Integer">
            select count(*)
            from tb_schedule
            where user_id = #{userId}
            group by date
            having date = #{date}
        </select>
</mapper>