#report{
    width: 80%;
    height:80%;
    margin: 0 auto;
}

.chart-btns{
    display: flex;
    justify-content: end;
}
@media(min-width: 991px) {
    .data-btn {
        display: flex!important;
        padding: 5px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        background-color: white;
        color: #3c6ffa;
        border: 1px solid #3c6ffa;
        font-width: bolder;
        /*font-size: 16px;*/
    }
}

.data-btn:hover{
    transition:ease-in-out .3s;
    background-color: #3c6ffa;
    color:white;
}

.data-btn {
    display: none;
}

@media(min-width: 991px) {
    #tb-data{
        display: flex!important;
        justify-content: center;
        margin: 0 auto;
    }
}


#tb-day{
    text-align: center;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    overflow: hidden;
}

th, td{
    border:1px solid #dddddd;
}

.tb-ch-data tr th{
    width: 120px;
}

tbody th {
    text-align: left;
    padding: 5px;
}

tbody td {
    font-weight: bolder;
}

#tb-data{
    display: none;
}