<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <title>Groovy</title>
</head>
<body>
<div id="wrap">
    <header id="header">
        <h1>Groovy</h1>
        <p>기록 저장소</p>
    </header>
    <div id="signup-form">
        <input type="text" class="sign-in" placeholder="ID" id="userId">
        <input type="password" class="sign-in" placeholder="Password" id="userPw">
        <input type="button" id="login-btn" value="Login">
    </div>
    <div id="find-area"><span id="find-id">아이디찾기</span><span id="find-pw">비밀번호찾기</span><span id="insert-btn">회원가입</span></div>

</div>
<div id="bg">

</div>
<script src="/js/main.js" type="module"></script>
<script src="/js/login.js" type="text/javascript"></script>
</body>
</html>