<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <title>Title</title>
</head>
<body>
<div id="wrap">
    <header id="header">
        <h1>Groovy</h1>
        <p>기록 저장소</p>
    </header>
    <form id="signup-form">
        <input type="text" class="sign-in" placeholder="ID">
        <input type="password" class="sign-in" placeholder="Password">
        <input type="button" id="login-btn" value="Login">
    </form>
</div>
<div id="bg">
    <div id="insert">
        <span id="insert-btn">회원가입</span>
    </div>
</div>
<script src="/js/main.js" type="module"></script>
</body>
</html>